/* Item description */

.item-description {
	margin-top: 4rem;
	padding: 0.3125rem;
	h1 {
		font-size: 1.5em;
		font-weight: bold;
		margin-bottom: 1.25rem;
	}
}

.centre-link-wrapper {
		text-align: center;
		width: 100%;
		a {
		color: #1F9FCD;
		text-align: center;
		margin-top: 1.5rem;
	}
}
